body {
  margin: 0;
  height: 300vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  background-color: bisque;
  width: 150px;
}
#result{
 
}


.inputs {
  background-color: black;
  color: whitesmoke;
  font-size: medium;
}

.excess {
  width: 37px;
  background-color: black;
  color: whitesmoke;
  font-size: medium;
}
